body{
	background-color: #e6e6e6;
	}


	.wrapper{
	background: #fff;
	border-radius: 6px;
}

.container{
	background-color: #fff;
}
.socialLogin {
    margin-top: 15px;
    padding: 34px;
}
.desc{
	color: #99a3b1;
}
.form-control{
	box-shadow: none;
	border: 2px solid #e3e4e8;
	height: 44px;
}
.checkbox label{
	color: #a4a9ae;
}
.bigtitle{
	
	font-size: 72px;

}
.slogan {
	font-size: 18px;
	font-weight: 300;
}
.slogan, .bigtitle {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #373737;
}
.bigtitle span{
	font-weight: 700;
}
.message {
	background-color: #f6f8fa;
	padding: 1px 10px 10px;
	border-radius: 4px;
}
.addgoaldesc{
	margin-top: 15px;
}
.btn{
	border: none;
}
.btn i{
	margin: 0 5px -2px 5px;
	font-size: 18px;
}
.btn-primary{
	width: 120px;
	font-weight: 800;
	text-transform: uppercase;
}
.btn-modify{
	font-weight: 400;
	border-width: 0 1px 4px;
	border-color: #eb3e50;
	border-style: solid;
	margin: 20px 0;
}
.form-horizontal{
	margin-left: 30px;
}
.img-circle{
	float: left;
	margin-right: 12px;
    margin-top: 20px;
}
.welcome{
	float: left;
}
.welcome p{
	color: #222;
	font-weight: bold;
	font-size: 14px;
}
.prog{
	width: 25%
}

.activity, .modgoal{
	font-weight: bold;

}
.activity{
	color: #ed5565;
}
.modgoal{
	color: #9120fa;
}

.table{
	
	border-top: 3px solid #e3e4e8;
	border-bottom: 3px solid #e3e4e8;
	color: #a4a9ae;
	
}
tbody{
	border-top: 3px solid #e3e4e8;
}
.table-striped > tbody > tr:nth-of-type(2n){
	background-color: #f6f8fa;
}
.table-striped > tbody > tr:nth-of-type(2n+1){
	background-color: #f0f2f5;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	border: none;
	line-height: 3.429;
}


.progress{
	margin-bottom: 0;
	margin-top: 10px;
}